h2 {
  font-size: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
h3 {
  font-size: 25px;
  color: #c2410c;
  font-weight: bold;
}
p {
  margin: 0;
  margin-bottom: 3px;
}
