<mat-form-field class="w-full">
  <mat-label><ng-content></ng-content></mat-label>
  <input
    type="text"
    matInput
    [formControl]="form"
    [matAutocomplete]="auto"
    (focus)="filter($event)"
    (input)="filter($event)"
    (blur)="noExistOption()"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayText"
    (optionSelected)="selected($event)"
    style="z-index: 5000"
  >
    @for (item of optionsFilter; track item) {
    <mat-option [value]="item">{{ item.name }}</mat-option>
    }
  </mat-autocomplete>

  <mat-error>El campo es <strong>requerido</strong></mat-error>
</mat-form-field>
