<section
  style="background-image: url('fondoLogin.webp')"
  class="w-full h-screen p-5 flex justify-center items-center"
>
  <mat-card class="w-[50%] min-w-[280px]">
    <mat-card-header>
      <mat-card-title
        ><h3 class="title text-orange-600">
          Reiniciar contraseña
        </h3></mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="resetPassword()">
        <mat-form-field class="w-full mb-3">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            placeholder="Nueva contraseña"
            type="password"
            formControlName="password"
            #passwordInputOne
          />
          <button
            matSuffix
            mat-icon-button
            type="button"
            (click)="
              passwordInputOne.type =
                passwordInputOne.type == 'text' ? 'password' : 'text'
            "
          >
            <mat-icon>{{
              passwordInputOne.type == "text" ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error> El campo es <strong>requerido</strong> </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full mb-5">
          <mat-label>Confirmar contraseña</mat-label>
          <input
            matInput
            placeholder="Confirmar contraseña"
            type="password"
            formControlName="confirmPassword"
            #passwordInputTwo
          />
          <button
            matSuffix
            mat-icon-button
            type="button"
            (click)="
              passwordInputTwo.type =
                passwordInputTwo.type == 'text' ? 'password' : 'text'
            "
          >
            <mat-icon>{{
              passwordInputTwo.type == "text" ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error> El campo es <strong>requerido</strong> </mat-error>
        </mat-form-field>
        <section class="w-full">
          @if ( form.get('password')!.hasError('pattern') ) {
          <p class="text-red-500">
            La contraseña debe contener: 8 caracteres de longitud, una letra
            mayúscula , una letra minúscula, al menos un numero, un carácter
            especial ({{ symbols }}).
          </p>
          } @if ( form.hasError('noIgual') ) {
          <p class="text-red-500">Las contraseñas no coinciden</p>
          }
        </section>

        <section class="flex w-full flex-wrap justify-end">
          <button
            class="ml-[5px]"
            mat-raised-button
            color="warn"
            type="button"
            routerLink="/home"
          >
            Cancelar
          </button>
          <button
            class="ml-[5px]"
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="form.invalid"
          >
            Enviar
          </button>
        </section>
      </form>
    </mat-card-content>
  </mat-card>
</section>
